<div class="left-sidebar">
    <div class="panel-group category-products" id="accordian">
        <!--category-productsr-->
        <h2>Categories</h2>
        <vc:categories></vc:categories>
    </div>
</div><!--/category-products-->

<div class="brands_products">
    <!--brands_products-->
    <h2>Brands</h2>
    <vc:brands></vc:brands>

</div>